In [1]:
#importing necessary libraries
import pandas as pd, numpy as np

In [2]:
#import warnings
import warnings

In [3]:
#reading the required table
df = pd.read_html("https://widgets.sports-reference.com/wg.fcgi?css=1&site=fb&url=%2Fen%2Fcomps%2F9%2Fstats%2FPremier-League-Stats&div=div_stats_standard", header=1)
df= df[0]

In [4]:
df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,30-195,1990,17,16,1414,...,1.2,1.2,0.8,2.0,0.08,0.05,0.13,0.08,0.13,Matches
1,2,Tammy Abraham,eng ENG,FW,Chelsea,23-161,1997,20,12,1021,...,5.6,5.6,0.9,6.5,0.49,0.08,0.57,0.49,0.57,Matches
2,3,Che Adams,eng ENG,FW,Southampton,24-242,1996,27,23,2075,...,6.1,6.1,4.6,10.7,0.26,0.20,0.46,0.26,0.46,Matches
3,4,Tosin Adarabioyo,eng ENG,DF,Fulham,23-169,1997,24,24,2160,...,1.0,1.0,0.3,1.3,0.04,0.01,0.05,0.04,0.05,Matches
4,5,AdriÃ¡n,es ESP,GK,Liverpool,34-068,1987,3,3,270,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches

In [5]:
#dopping unnecessary columns
df=df.drop(["Rk","Age","Matches"],axis=1)

In [6]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Born', 'MP', 'Starts', 'Min',
       '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1',
       'Ast.1', 'G+A', 'G-PK.1', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA',
       'xG.1', 'xA.1', 'xG+xA', 'npxG.1', 'npxG+xA.1'],
      dtype='object')

In [10]:
# cleaning the table (header values from each page were showing as row values in our df)
df= df[df["MP"]!="MP"]

In [11]:
int_cols= ["MP","Starts","Min",'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR']

In [12]:
float_cols= ["90s",'Gls.1','Ast.1', 'G+A', 'G-PK.1', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA','xG.1', 'xA.1', 'xG+xA', 'npxG.1', 'npxG+xA.1']

In [13]:
#changing dtype
df[int_cols]=df[int_cols].astype(int)

In [14]:
#changing dtype
df[float_cols]=df[float_cols].astype(float)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507 entries, 0 to 526
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player     507 non-null    object
 1   Nation     507 non-null    object
 2   Pos        507 non-null    object
 3   Squad      507 non-null    object
 4   Born       507 non-null    object
 5   MP         507 non-null    int32
 6   Starts     507 non-null    int32
 7   Min        507 non-null    int32
 8   90s        507 non-null    float64
 9   Gls        507 non-null    int32
 10  Ast        507 non-null    int32
 11  G-PK       507 non-null    int32
 12  PK         507 non-null    int32
 13  PKatt      507 non-null    int32
 14  CrdY       507 non-null    int32
 15  CrdR       507 non-null    int32
 16  Gls.1      507 non-null    float64
 17  Ast.1      507 non-null    float64
 18  G+A        507 non-null    float64
 19  G-PK.1     507 non-null    float64
 20  G+A-PK     507 non-null    float64
 21  xG         507 non-null    float64
 22  npxG       507 non-null    float64
 23  xA         507 non-null    float64
 24  npxG+xA    507 non-null    float64
 25  xG.1       507 non-null    float64
 26  xA.1       507 non-null    float64
 27  xG+xA      507 non-null    float64
 28  npxG.1     507 non-null    float64
 29  npxG+xA.1  507 non-null    float64
dtypes: float64(15), int32(10), object(5)
memory usage: 103.0+ KB

#### Calculating new fields/columns

In [16]:
df["Bench"]= df["MP"]-df["Starts"]

In [17]:
df["PK_missed"]=df["PKatt"]-df["PK"]

In [18]:
new_cols=['Player', 'Nation', 'Pos', 'Squad', 'Born', 'MP', 'Starts', 'Min',
       '90s','Goals', 'Assist', 'Goals-Penalties', 'PK_scored', 'PK_attempted', 'Yellow',
       'Red', 'Goals/90', 'Assist/90', 'G+A/90', 'Goals-PK/90',
       '(Goals+Assist-PK)/90', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG/90', 'xA/90',
       'xG+xA/90', 'npxG/90', '(npxG+xA)/90','Bench','PK_missed']
len(new_cols)

32

In [19]:
df= df.rename(columns=dict(zip(df.columns,new_cols)))

In [20]:
df.head()

,Player,Nation,Pos,Squad,Born,MP,Starts,Min,90s,Goals,...,npxG,xA,npxG+xA,xG/90,xA/90,xG+xA/90,npxG/90,(npxG+xA)/90,Bench,PK_missed
0,Patrick van Aanholt,nl NED,DF,Crystal Palace,1990,17,16,1414,15.7,0,...,1.2,0.8,2.0,0.08,0.05,0.13,0.08,0.13,1,0
1,Tammy Abraham,eng ENG,FW,Chelsea,1997,20,12,1021,11.3,6,...,5.6,0.9,6.5,0.49,0.08,0.57,0.49,0.57,8,0
2,Che Adams,eng ENG,FW,Southampton,1996,27,23,2075,23.1,6,...,6.1,4.6,10.7,0.26,0.20,0.46,0.26,0.46,4,0
3,Tosin Adarabioyo,eng ENG,DF,Fulham,1997,24,24,2160,24.0,0,...,1.0,0.3,1.3,0.04,0.01,0.05,0.04,0.05,0,0
4,AdriÃ¡n,es ESP,GK,Liverpool,1987,3,3,270,3.0,0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0,0

### Checking the name of the teams in the competition

In [21]:
df["Squad"].unique()

array(['Crystal Palace', 'Chelsea', 'Southampton', 'Fulham', 'Liverpool',
       'Manchester City', 'Wolves', 'West Brom', 'Leicester City',
       'Tottenham', 'Arsenal', 'Leeds United', 'Everton', 'Newcastle Utd',
       'Brighton', 'Sheffield Utd', 'West Ham', 'Manchester Utd',
       'Burnley', 'Aston Villa'], dtype=object)

In [22]:
# making a list of clubs
cols= df["Squad"].unique()

In [23]:
# downloading club-wise csv files using for loop
for cols in cols:
    df[df["Squad"]== str(cols)].to_csv(str(cols)+".csv")
    print(cols)

Crystal Palace
Chelsea
Southampton
Fulham
Liverpool
Manchester City
Wolves
West Brom
Leicester City
Tottenham
Arsenal
Leeds United
Everton
Newcastle Utd
Brighton
Sheffield Utd
West Ham
Manchester Utd
Burnley
Aston Villa